<a href="https://colab.research.google.com/github/SaraPitouli/SaraPitouli.github.io/blob/main/scatterplot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [6]:
gdp = pd.read_csv("gdp.csv") 
gdp=gdp[["Country", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999"]]

In [7]:
gdp

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,Aruba,2.195805,4.539317,2.370642,4.092615,4.800352,-0.567202,-1.830024,3.854744,-1.027090,-1.689537
1,Africa Eastern and Southern,-2.860377,-2.605621,-4.479524,-2.967371,-0.580264,1.628756,2.669065,1.805889,-0.652244,0.090308
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,3.843232,-1.474265,-0.021443,-3.738597,-2.866296,-0.760526,1.887667,1.496011,0.757350,-1.257193
4,Angola,-6.626409,-2.312502,-8.848294,-26.349124,-1.850621,11.278422,9.825458,3.755519,1.313926,-1.062725
...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",NaN,2.310275,4.174901,0.155849,2.844210,2.059194,1.416834,2.190461,2.999831,0.874333
263,South Africa,-3.339621,-3.518471,-4.128461,-0.586806,1.428937,1.416824,2.722434,1.187493,-0.743024,1.268071
264,Zambia,-3.007447,-2.497852,-4.090438,4.258957,-10.817545,0.410354,3.618763,1.186738,-2.928854,1.943906
265,Zimbabwe,4.158340,2.847965,-11.270075,-0.384681,8.594631,-1.075925,8.542804,1.015731,1.228454,-2.240737

In [8]:
gdp['mean'] = gdp.mean(axis=1)

<ipython-input-8-ddab96328190>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  gdp['mean'] = gdp.mean(axis=1)

In [9]:
gdp

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,mean
0,Aruba,2.195805,4.539317,2.370642,4.092615,4.800352,-0.567202,-1.830024,3.854744,-1.027090,-1.689537,1.673962
1,Africa Eastern and Southern,-2.860377,-2.605621,-4.479524,-2.967371,-0.580264,1.628756,2.669065,1.805889,-0.652244,0.090308,-0.795138
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,3.843232,-1.474265,-0.021443,-3.738597,-2.866296,-0.760526,1.887667,1.496011,0.757350,-1.257193,-0.213406
4,Angola,-6.626409,-2.312502,-8.848294,-26.349124,-1.850621,11.278422,9.825458,3.755519,1.313926,-1.062725,-2.087635
...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",NaN,2.310275,4.174901,0.155849,2.844210,2.059194,1.416834,2.190461,2.999831,0.874333,2.113988
263,South Africa,-3.339621,-3.518471,-4.128461,-0.586806,1.428937,1.416824,2.722434,1.187493,-0.743024,1.268071,-0.429263
264,Zambia,-3.007447,-2.497852,-4.090438,4.258957,-10.817545,0.410354,3.618763,1.186738,-2.928854,1.943906,-1.192342
265,Zimbabwe,4.158340,2.847965,-11.270075,-0.384681,8.594631,-1.075925,8.542804,1.015731,1.228454,-2.240737,1.141651

In [10]:
gdp=gdp[["Country", "mean"]]

In [11]:
index = pd.read_csv("index.csv")
index= index[["Country", "1990"]].applymap(lambda x: np.nan if x =="no data" else x)

In [12]:
pd.merge(gdp,index,on='Country',how='inner',indicator=False).dropna().round(2).to_csv("ScatterPlot.csv")